.blogPreview {
  background-color: var(--light-gray);
  border: 2px solid var(--deep-teal);
  width: auto;
  border-radius: 10px;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    opacity 0.2s ease;
}

.blogPreview:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}

.blogPreviewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogPreview p {
  line-height: 1.5;
  margin: 10px 0;
}

.blogPreview small {
  align-self: flex-end;
}

.bottomDiv {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.bottomDiv * {
  color: white;
}

.bottomDiv h3 {
  font-size: 1.3rem;
  font-weight: 500;
  transition: text-decoration 0.2s ease;
}

.blogPreview:hover h3 {
  text-decoration: underline;
}

.bottomDiv small {
  align-self: flex-start;
  font-size: 0.9rem;
}

.details {
  display: flex;
  justify-content: space-between;
}
