.Comment {
  display: flex;
  font-size: 1.3rem;
  flex-direction: column;
  background-color: var(--light-gray);
  color: var(--dark-gray);
  border: 2px solid var(--deep-teal);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 10px 10px 5px 10px;
}

.Comment div:first-child {
  display: flex;
  justify-content: space-between;
}

.Comment small {
  align-self: end;
}

.Comment svg {
  height: 35px;
}

.Comment svg:hover {
  height: 35px;
  transform: scale(1.2);
}
