:root {
  /* Primary Colors */
  --dark-bg: #1b262c; /* Dark Blue - Background for headers, footers, or main sections */
  --primary: #0f4c75; /* Deep Blue - Primary font color or for buttons and navigation */
  --accent: #3282b8; /* Lighter Blue - Accent elements like links, hover effects */
  --light-bg: #bbe1fa; /* Light Blue - Background for cards, containers, or secondary sections */
  --light-text: #ffffff; /* White - Font color for text on dark backgrounds */
  --neutral-gray: #fdf5e6; /* Light Gray - Used for subtle borders or background highlights */
  --form-color: #dbe2ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--light-bg);
  color: var(--primary);
  font-size: 16px; /* Base font size */
  line-height: 1.5; /* Line height for readability */
}

header {
  background-color: var(--dark-bg);
  color: var(--light-text);
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  margin: 20px 0 20px 0;
  width: clamp(200px, 60%, 1000px);
  flex: 1;
}

a {
  color: var(--primary);
}

button {
  background-color: var(--primary); /* Button background (Deep Blue) */
  color: var(--light-text); /* Button text color (White) */
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form button:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); /* Lift up slightly */
}

footer {
  background-color: var(--dark-bg); /* Footer background (Dark Blue) */
  color: var(--light-text); /* Footer text color (White) */
  width: 100%;
}

fieldset {
  border: none;
}

legend {
  padding: 10px 0 0 0;
  font-size: 1.6rem;
  font-weight: bold;
}

form {
  border: 3px solid var(--dark-bg);
  background-color: var(--light-bg);
  padding: 10px;
}

label {
  font-size: 1.2rem;
}

input {
  border-radius: 10px; /* Rounded corners */
  padding: 5px; /* Inner padding for comfort */
  border: 2px solid black; /* Light border color */
  width: 100%; /* Full width for inputs */
  font-family: inherit; /* Use the same font as the rest of your app */
  font-size: 1rem; /* Base font size */
  background-color: #afc1e2; /* Light gray for input background */
  transition:
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

input:focus {
  outline: none; /* Remove default outline */
  border-color: #1b262c; /* Dark header color for focus */
  box-shadow: 0 0 0 3px rgba(27, 38, 44, 0.2); /* Subtle focus shadow */
}

#logInForm,
#signUpForm {
  width: clamp(330px, 70%, 600px);
  border-radius: 8px;
  min-height: 200px;
  margin: 10px 0 0 0;
  align-self: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--form-color);
}

#logInForm button,
#signUpForm button {
  margin-left: 5px;
}

.form-group {
  margin: 0 0 20px 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-group .error-message {
  position: absolute;
  top: 100%; /* Position below the input field */
  right: 0;
  color: red;
}

.inputError {
  border: 1px solid red; /* Red border for error */
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #afc1e2 inset !important; /* Match your desired background */
  box-shadow: 0 0 0 30px #afc1e2 inset !important; /* Match your desired background */
  -webkit-text-fill-color: #0f4c75; /* Set text color to your body text color */
}

input:-webkit-autofill:focus {
  border-color: #1b262c;
  box-shadow: 0 0 0 3px rgba(27, 38, 44, 0.2);
}
