.Header {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.Header h1 {
  margin: 0 0 0 10px;
}

.Header h1 a {
  color: var(--white);
  text-decoration: none;
}

.Header nav {
  display: flex;
  margin: 0 10px 0 0;
}

.Header ul {
  align-self: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Header li {
  margin: 0 10px 0 10px;
}

.Header ul a,
.Header ul button {
  color: var(--white); /* White text color for links */
  text-decoration: none; /* Remove underline from links */
  font-size: 1.3rem;
  padding: 0.5rem 1rem; /* Padding around links */
  border-radius: 0;

  transition:
    background-color 0.3s ease,
    color 0.3s ease; /* Smooth transition for hover effects */
}

.Header li:nth-child(3) {
  position: relative;
}

.Header button:nth-child(2) {
  position: absolute; /* Position it relative to the first button */
  top: 100%; /* Position it directly below the first button */
  left: 0; /* Align with the left edge of the first button */
}

.Header li:nth-child(3) button {
  width: 110px;
}

.Header ul a:hover {
  background-color: var(--accent); /* Change background on hover */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.Header ul button:hover {
  background-color: var(--accent);
}
