.Comment {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--dark-bg);
  background-color: var(--neutral-gray);
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 10px 5px 10px;
}

.Comment div:first-child {
  display: flex;
  justify-content: space-between;
}

.Comment small {
  align-self: end;
}

.Comment svg {
  width: 25px;
  height: 25px;
}

.Comment svg:hover {
  width: 25px;
  height: 25px;
  transform: scale(1.2);
}
