.newPostForm {
  width: clamp(200px, 50%, 1000px);
}

.postButtonDiv {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.postButtonDiv button {
  margin-left: 10px;
}

.editorContainer {
  margin-bottom: 30px;
  position: relative;
}

.editorContainer .error-message {
  margin-top: 10px;
}

.form-group p {
  top: 100%;
}

.newPostForm > div:first-child {
  margin-bottom: 25px;
}

#imageAltTextFormGroup {
  margin-bottom: 35px;
}

button.disabled {
  background-color: rgb(146, 135, 135);
}
.discardButton {
  background-color: var(--alert);
}
