.commentSection {
  width: 100%;
}

.commentSection h2 {
  font-size: 1.7rem;
}

.commentSection li {
  list-style-type: none;
}

.commentSection p {
  font-size: 1.1rem;
}

.commentSection a:hover {
  font-weight: bold;
  color: var(--deep-teal);
}

.commentForm {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.commentForm textarea {
  background-color: var(--light-gray);
  border-radius: 10px;
  padding: 10px;
  border: 2px solid black;
  width: 100%;
  resize: vertical;
  font-family: inherit;
  font-size: 1.1rem;
  transition: border-color 0.2s ease-in-out;
}

.commentForm textarea:focus {
  outline: none;
  border-color: #0f4c75;
  box-shadow: 0 0 0 3px rgba(11, 72, 110, 0.2);
}

.commentButtonDiv {
  display: flex;
  justify-content: flex-end;
  margin: 10px 5px 0 0;
  visibility: hidden;
  opacity: 0;
  height: 30px;
}

.commentButtonDiv.visible {
  opacity: 1;
  visibility: visible;
}

.commentButtonDiv button:first-child {
  margin-right: 15px;
}

.commentForm button {
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.commentForm button.disabled {
  background-color: rgb(146, 135, 135);
}

.noCommentsP {
  margin: 10px 0 0 3px;
}
