.BlogPost {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 70%, 800px);
  position: relative;
  align-self: flex-start;
}

.postContainer {
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

.postContainer h1 {
  line-height: 1.2;
  font-size: 1.7em;
}

.postContent h1,
.postContent h2,
.postContent h3 {
  margin-top: 10px;
}

.postContent ul {
  margin-left: 30px;
}

.blogImage {
  width: 100%;
  height: 60vh;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 1s forwards; /* Adjust duration as needed */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.postContainer input {
  font-size: 2em;
  margin-bottom: 25px;
}

.EditDeleteContainer {
  position: absolute;
  top: 10px;
  left: 100%;
  display: flex;
}

.postContainer {
  margin: 0 0 20px 0;
}

.EditDeleteContainer svg {
  height: 30px;
  transition: transform 0.2s ease;
}

.EditDeleteContainer svg:hover {
  transform: translateY(-2px); /* Slight lift effect on hover */
}

.AuthorName {
  font-size: 1.2em;
}

.DateTime {
  font-size: 0.9em;
}
