.BlogPreview {
  background-color: var(--light-gray);
  border: 2px solid var(--deep-teal);
  border-radius: 10px;
  margin: 10px 0;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease; /* Add transition for hover effect */
  cursor: pointer; /* Indicate clickable area */
}

.BlogPreview:hover {
  transform: translateY(-2px); /* Slight lift effect on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.BlogPreview h2 {
  color: var(--primary);
  margin-right: 15px;
}

.blogPreviewImage {
  width: 100%;
}

.BlogPreview p {
  color: var(--dark-bg); /* Dark color for the content text */
  line-height: 1.5; /* Improved line height for readability */
  margin: 10px 0; /* Space between paragraph and other elements */
}

.BlogPreview small {
  align-self: flex-end;
}

.bottomDiv {
  display: flex;
  justify-content: space-between;
}

.bottomDiv small {
  align-self: flex-start;
}
