.my-editor-body {
  background-color: var(--light-gray); /* Content area background */
}

/* .tox-toolbar__group {
} */

.tox-tinymce {
  border: 2px solid black;
}

.tox-tinymce,
.tox.tinymce * {
  background-color: var(
    --light-gray
  ); /* Optional: editor container background */
}

.tox-tinymce {
  cursor: text;
}

.mce-content-body {
  font-size: 1.5rem;
}
