.CommentList li {
  list-style-type: none;
}

.CommentList a:hover {
  font-weight: bold;
  color: var(--dark-bg);
}

.commentForm {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.commentForm textarea {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #d1d1d1; /* Light border color */
  width: 100%;
  resize: vertical; /* Allow vertical resize for better UX */
  font-family: inherit; /* Use the same font as the rest of your app */
  font-size: 1rem;
  background-color: #fff; /* Keep the text area light for readability */
  transition: border-color 0.2s ease-in-out; /* Smooth border transition */
}

.commentForm textarea:focus {
  outline: none;
  border-color: #0f4c75; /* Highlight color for focus */
  box-shadow: 0 0 0 3px rgba(11, 72, 110, 0.2); /* Subtle focus shadow */
}

.commentButtonDiv {
  display: flex;
  justify-content: flex-end;
  margin: 10px 5px 0 0;
  visibility: hidden;
  opacity: 0;
  height: 25px;
}

.commentButtonDiv.visible {
  opacity: 1; /* Make the buttons visible */
  visibility: visible; /* Make the buttons focusable */
}

.commentButtonDiv button:first-child {
  margin-right: 15px;
}

.commentForm button {
  font-size: 0.8rem;
  max-height: 10px;
  display: flex;
  align-items: center;
}

.commentForm button.disabled {
  background-color: rgb(146, 135, 135);
}
