.publishDiv {
  margin-bottom: 20px;
}

.linkButton {
  background: none;
  border: none;
  color: blue; /* change this later */
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  box-shadow: none;
}
.publishDiv .linkButton:hover {
  background-color: inherit;
}

.smallMessage {
  color: black;
}
