.publishDiv {
  margin-bottom: 20px;
}

.publishMessage {
  font-size: 1.3rem;
}

.linkButton {
  font-size: 1.1rem;
}

.linkButton {
  background: none;
  border: none;
  color: blue; /* change this later */
  cursor: pointer;
  padding: 0;
  box-shadow: none;
}
.publishDiv .linkButton:hover {
  background-color: inherit;
}

.publishMessage {
  color: black;
}
